<!DOCTYPE html>

<html>
    <head>
        <title>FilmStalker - Account details</title>
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="styleshet" href="../css/normalize.min.css">
        <link rel='icon' href='../favicon.ico' type='image/x-icon'>	
        <link rel="stylesheet" href="../css/account.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <script src="../js/account.js"></script>
    </head>

    <body>
      <%- include('../partials/navApp') %>  

        <br>
        <div class="container">
            <% if(!(typeof falsePass == 'undefined') && falsePass == true){ %>
                <h2>False password</h2>
                <% } %>
            <% if(!(typeof xssFound == 'undefined') && xssFound == true){ %>
                <h2>xssFound</h2>
                <% } %>
            <% if(!(typeof usernameExists == 'undefined') && usernameExists == true){ %>
                <h2>username taken</h2>
            <% } %>
            <% if(!(typeof emailExists == 'undefined') && emailExists == true){ %>
                <h2>email taken</h2>
            <% } %>
            <form class="form"  action="/updateUserInfo" id="account" method="POST">
                <h1 class="formTitle"><i class="material-icons">account_circle</i>Account Details</h1>
                <p>You can view and edit your account info here. To update click the Update Details button and we will update all applicable info. leave any fileds you do no want to update empty or as they are</p>
                <div class="formInput">
                    <input type="text" name="email" class="form__input" placeholder="email" autofocus value= <%=email %>>
                </div>
                <div class="formInput">
                    <input type="text" name="username" class="form__input" placeholder="username" autofocus value= <%=username %>>
                </div>
                <div class="formInput">
                    <input type="text" name="postcode" class="form__input" placeholder="postalCode" autofocus value= <%=postalCode %>>
                </div> 
                <div class="formInput">
                    <p>New Password</p>
                    <input type="password" name="newPassword" class="form__input" placeholder="new password"" autofocus placeholder="new password">
                </div> 
                <br><br>
                <p>confirm old password</p>
                <div class="formInput">
                    <input type="password" name="password" class="form__input" placeholder="old password"" autofocus placeholder="old password">
                </div> 
                <button class="formButton" type="submit">Update Details</button>
            </form> 
        </div>
        <form class="form" action="/removeUser" method="POST">
            <button type="submit">Delete Account and data</button>
        </form>
        <%- include('../partials/footer') %>
    </body>
    <!--A Script with a space to fix the 
  chrome transition bug when loading a page-->
<script> </script>
</html> 