<div class="movie-box">
  <% getResultsFromOMDBByID(movie, function (movieRes) { %>
  <div class="card-header">
    <div class="row movie-info">
      <div>
        <h2 class="movie-title"><%= movieRes.name %> </h2>
      </div>
      <div>
        <ul class="movie-facts">
          
          <li>Release year: <%= movieRes.year %></li>
          <li>Genres: <%= movieRes.Genre %></li>
          <li>Rating: <%= movieRes.Rated %></li>
          
        </ul>
      </div>
      <div>
        <ul class="movie-facts">
          <li>Director: <%= movieRes.Director %></li>
          <li>Writer: <%= movieRes.Writer %></li>
          <li>Actors: <%= movieRes.Actors %></li>
        </ul>
      </div>
    </div>
  </div>
  <% }); %>

  <div class="card-body">
    <button data-toggle="collapse" data-target="#demo">
      <h5>Locations</h5>
    </button>
    <div id="demo" class="collapse">
      <%
      var axios = require("axios").default;-

      var options = {
        method: 'GET',
        url: 'https://imdb8.p.rapidapi.com/title/get-filming-locations',
        params: {tconst: movie},
        headers: {
          'x-rapidapi-key': 'a9eb244cd4msh1023a1ad25868ebp174b04jsn1fa8197ee780',
          'x-rapidapi-host': 'imdb8.p.rapidapi.com'
        }
      };

      axios.request(options).then(function (response) {
        response.data.locations.forEach(location => { %>
          <%-
          <div>
            <div>
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value=""> %>
                <%= location %>
              <%- </label>
            </div>
            <div>
              <a class="see-on-map" href="../html/map.html?l=true">See on map</a>
            </div>
          </div>
          %>
        <% })
      }).catch(function (error) {
        console.error(error);
      });
      %>
    </div> 
  </div>
</div>

<%
function getResultsFromOMDBByID(movieID, callback){
  axios.get(
    "https://www.omdbapi.com/?apikey=7c3f362c&" + "movieID"
  ).then(response => {
    callback(JSON.parse(response));
  }).catch(error => {
    throw error;
  });
}
%>